Repository addadileonardo/AddaDiLeonardo, pull requests merged in 2020-04, with the labels that each got.

#30 Sincronizzazione
  AddaDiLeonardo/AddaDiLeonardo.Android/AddaDiLeonardo.Android.csproj
  AddaDiLeonardo/AddaDiLeonardo.Android/Assets/Francese.db
  AddaDiLeonardo/AddaDiLeonardo.Android/Assets/Inglese.db
  AddaDiLeonardo/AddaDiLeonardo.Android/Assets/Italiano.db
  AddaDiLeonardo/AddaDiLeonardo.Android/CustomLabel_IntroSubTitleRender.cs
  AddaDiLeonardo/AddaDiLeonardo.Android/CustomLabel_IntroTitleRender.cs
  AddaDiLeonardo/AddaDiLeonardo.Android/MainActivity.cs
  AddaDiLeonardo/AddaDiLeonardo.iOS/AddaDiLeonardo.iOS.csproj
  AddaDiLeonardo/AddaDiLeonardo.iOS/CustomLabel_IntroSubTitleRender.cs
  AddaDiLeonardo/AddaDiLeonardo.iOS/CustomLabel_IntroTitleRender.cs
  AddaDiLeonardo/AddaDiLeonardo.iOS/Resources/Francese.db
  AddaDiLeonardo/AddaDiLeonardo.iOS/Resources/Inglese.db
  AddaDiLeonardo/AddaDiLeonardo.iOS/Resources/Italiano.db
  AddaDiLeonardo/AddaDiLeonardo/AddaDiLeonardo.csproj
  AddaDiLeonardo/AddaDiLeonardo/App.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/CustomControls/ArrayExtension.cs
  AddaDiLeonardo/AddaDiLeonardo/CustomControls/CustomLabelTitle.cs
  AddaDiLeonardo/AddaDiLeonardo/CustomControls/CustomLabel_IntroSubTitle.cs
  AddaDiLeonardo/AddaDiLeonardo/CustomControls/CustomLabel_IntroTitle.cs
  AddaDiLeonardo/AddaDiLeonardo/CustomControls/FormattaContenuto.cs
  AddaDiLeonardo/AddaDiLeonardo/Database/AsyncTaskExtensions.cs
  AddaDiLeonardo/AddaDiLeonardo/Database/Constants.cs
  AddaDiLeonardo/AddaDiLeonardo/Database/Data/Contenuti.cs
  AddaDiLeonardo/AddaDiLeonardo/Database/Data/Sezioni.cs
  AddaDiLeonardo/AddaDiLeonardo/Database/Data/Tappe.cs
  AddaDiLeonardo/AddaDiLeonardo/Database/Database.cs
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_03/Rocchetta_16.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_03/Rocchetta_22.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_04/ponte_03.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_04/ponte_03.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_04/ponte_06.PNG
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_05/centrali_10.jpg
  AddaDiLeonardo/AddaDiLeonardo/MainPage.xaml
  AddaDiLeonardo/AddaDiLeonardo/MainPage.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/PlayerPage.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/PlayerPage.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_01.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_01.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_02.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_02.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_03.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_03.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_04.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_04.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_05.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_05.xaml.cs
Labels: sync

#32 Homepage
  AddaDiLeonardo/AddaDiLeonardo/AddaDiLeonardo.csproj
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/background.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/videoplayer.png
  AddaDiLeonardo/AddaDiLeonardo/MarkupExtensions/EmbeddedImage.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml.cs
Labels: Homepage, In progress

#33 Allineamento
  AddaDiLeonardo/AddaDiLeonardo/AddaDiLeonardo.csproj
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/background.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/videoplayer.png
  AddaDiLeonardo/AddaDiLeonardo/MarkupExtensions/EmbeddedImage.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml.cs
Labels: sync

#45 New layout Homepage
  AddaDiLeonardo/AddaDiLeonardo/AddaDiLeonardo.csproj
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/backgroundtesto.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/centrale.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/centrale.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/fiume.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/ponte.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/ponte.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/rocchetta.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/rocchetta.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/traghetto.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/traghetto.png
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml
Labels: Homepage

#46 sync
  AddaDiLeonardo/AddaDiLeonardo/AddaDiLeonardo.csproj
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/backgroundtesto.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/centrale.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/centrale.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/fiume.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/ponte.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/ponte.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/rocchetta.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/rocchetta.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/traghetto.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/traghetto.png
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml
Labels: sync

#54 Sincronizzazione
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/PlayerPage.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/PlayerPage.xaml.cs
Labels: sync

#55 File DB iOS
  AddaDiLeonardo/AddaDiLeonardo.iOS/AppDelegate.cs
  AddaDiLeonardo/AddaDiLeonardo.iOS/Main.cs
Labels: Database, iOS, test-iOS

#57 Sincronizzazione
  AddaDiLeonardo/AddaDiLeonardo.iOS/AppDelegate.cs
  AddaDiLeonardo/AddaDiLeonardo.iOS/Main.cs
Labels: sync

#59 Database iOS
  AddaDiLeonardo/AddaDiLeonardo.iOS/AddaDiLeonardo.iOS.csproj
  AddaDiLeonardo/AddaDiLeonardo.iOS/AppDelegate.cs
  AddaDiLeonardo/AddaDiLeonardo.iOS/Database/Francese.db
  AddaDiLeonardo/AddaDiLeonardo.iOS/Database/Inglese.db
  AddaDiLeonardo/AddaDiLeonardo.iOS/Database/Italiano.db
Labels: Database, iOS, invalid, question

#62 sync
  AddaDiLeonardo/AddaDiLeonardo.Android/MainActivity.cs
  AddaDiLeonardo/AddaDiLeonardo.iOS/AddaDiLeonardo.iOS.csproj
  AddaDiLeonardo/AddaDiLeonardo.iOS/AppDelegate.cs
  AddaDiLeonardo/AddaDiLeonardo.iOS/Database/Francese.db
  AddaDiLeonardo/AddaDiLeonardo.iOS/Database/Inglese.db
  AddaDiLeonardo/AddaDiLeonardo.iOS/Database/Italiano.db
  AddaDiLeonardo/AddaDiLeonardo.iOS/Main.cs
  AddaDiLeonardo/AddaDiLeonardo/App.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Database/AsyncTaskExtensions.cs
  AddaDiLeonardo/AddaDiLeonardo/Database/Constants.cs
  AddaDiLeonardo/AddaDiLeonardo/Database/Database.cs
Labels: sync

#63 Sync
  AddaDiLeonardo/AddaDiLeonardo.Android/MainActivity.cs
  AddaDiLeonardo/AddaDiLeonardo.iOS/AddaDiLeonardo.iOS.csproj
  AddaDiLeonardo/AddaDiLeonardo.iOS/AppDelegate.cs
  AddaDiLeonardo/AddaDiLeonardo.iOS/Database/Francese.db
  AddaDiLeonardo/AddaDiLeonardo.iOS/Database/Inglese.db
  AddaDiLeonardo/AddaDiLeonardo.iOS/Database/Italiano.db
  AddaDiLeonardo/AddaDiLeonardo/App.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Database/AsyncTaskExtensions.cs
  AddaDiLeonardo/AddaDiLeonardo/Database/Constants.cs
  AddaDiLeonardo/AddaDiLeonardo/Database/Database.cs
Labels: sync

#65 Aggiornamento Database
  AddaDiLeonardo/AddaDiLeonardo.Android/Assets/Francese.db
  AddaDiLeonardo/AddaDiLeonardo.Android/Assets/Inglese.db
  AddaDiLeonardo/AddaDiLeonardo.Android/Assets/Italiano.db
  AddaDiLeonardo/AddaDiLeonardo.iOS/AddaDiLeonardo.iOS.csproj
  AddaDiLeonardo/AddaDiLeonardo.iOS/AppDelegate.cs
  AddaDiLeonardo/AddaDiLeonardo.iOS/Database/Francese.db
  AddaDiLeonardo/AddaDiLeonardo.iOS/Database/Inglese.db
  AddaDiLeonardo/AddaDiLeonardo.iOS/Database/Italiano.db
  AddaDiLeonardo/AddaDiLeonardo.iOS/Resources/Francese.db
  AddaDiLeonardo/AddaDiLeonardo.iOS/Resources/Inglese.db
  AddaDiLeonardo/AddaDiLeonardo.iOS/Resources/Italiano.db
Labels: Android, Database, iOS, invalid, wontfix

#67 sync
  AddaDiLeonardo/AddaDiLeonardo.Android/Assets/Francese.db
  AddaDiLeonardo/AddaDiLeonardo.Android/Assets/Inglese.db
  AddaDiLeonardo/AddaDiLeonardo.Android/Assets/Italiano.db
  AddaDiLeonardo/AddaDiLeonardo.iOS/AddaDiLeonardo.iOS.csproj
  AddaDiLeonardo/AddaDiLeonardo.iOS/AppDelegate.cs
  AddaDiLeonardo/AddaDiLeonardo.iOS/Database/Francese.db
  AddaDiLeonardo/AddaDiLeonardo.iOS/Database/Inglese.db
  AddaDiLeonardo/AddaDiLeonardo.iOS/Database/Italiano.db
  AddaDiLeonardo/AddaDiLeonardo.iOS/Resources/Francese.db
  AddaDiLeonardo/AddaDiLeonardo.iOS/Resources/Inglese.db
  AddaDiLeonardo/AddaDiLeonardo.iOS/Resources/Italiano.db
Labels: sync

#68 Lingua Database
  AddaDiLeonardo/AddaDiLeonardo/App.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Database/Constants.cs
  AddaDiLeonardo/AddaDiLeonardo/Database/Database.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_01.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_02.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_03.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_04.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_05.xaml.cs
Labels: Database

#76 Nuovo bottone play e correzione margini
  AddaDiLeonardo/AddaDiLeonardo/AddaDiLeonardo.csproj
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/videoplayer.png
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml
Labels: Homepage

#79 Accordion modificabile
  AddaDiLeonardo/AddaDiLeonardo/AddaDiLeonardo.csproj
  AddaDiLeonardo/AddaDiLeonardo/CustomControls/Accordion.xaml
  AddaDiLeonardo/AddaDiLeonardo/CustomControls/Accordion.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml.cs
Labels: Cross-Platform, Homepage

#85 Aggiornamento Database
  AddaDiLeonardo/AddaDiLeonardo.Android/Assets/Francese.db
  AddaDiLeonardo/AddaDiLeonardo.Android/Assets/Inglese.db
  AddaDiLeonardo/AddaDiLeonardo.Android/Assets/Italiano.db
  AddaDiLeonardo/AddaDiLeonardo.iOS/Resources/Francese.db
  AddaDiLeonardo/AddaDiLeonardo.iOS/Resources/Inglese.db
  AddaDiLeonardo/AddaDiLeonardo.iOS/Resources/Italiano.db
Labels: Database
