Repository addadileonardo/AddaDiLeonardo, pull requests merged in 2020-03, with the labels that each got.

#7 Immagini Homepage e Mappa
  AddaDiLeonardo/AddaDiLeonardo/AddaDiLeonardo.csproj
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/backgroundtesto.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/centrale.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/play.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/ponte.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/rocchetta.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/traghetto.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Map/MappaRaul.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Map/centraleW.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Map/ponteW.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Map/santuarioW.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Map/traghettoW.png
  AddaDiLeonardo/AddaDiLeonardo/Views/Map.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/Map.xaml.cs
Labels: Homepage, Mappa

#16 Sincronizzazione
  AddaDiLeonardo/AddaDiLeonardo.Android/AddaDiLeonardo.Android.csproj
  AddaDiLeonardo/AddaDiLeonardo.Android/Assets/FontAwesome5Brands.otf
  AddaDiLeonardo/AddaDiLeonardo.Android/Assets/FontAwesome5Regular.otf
  AddaDiLeonardo/AddaDiLeonardo.Android/Assets/FontAwesome5Solid.otf
  AddaDiLeonardo/AddaDiLeonardo.Android/MainActivity.cs
  AddaDiLeonardo/AddaDiLeonardo.Android/Resources/Resource.designer.cs
  AddaDiLeonardo/AddaDiLeonardo.iOS/AddaDiLeonardo.iOS.csproj
  AddaDiLeonardo/AddaDiLeonardo.iOS/AppDelegate.cs
  AddaDiLeonardo/AddaDiLeonardo.iOS/Info.plist
  AddaDiLeonardo/AddaDiLeonardo.iOS/Resources/FontAwesome5Brands.otf
  AddaDiLeonardo/AddaDiLeonardo.iOS/Resources/FontAwesome5Regular.otf
  AddaDiLeonardo/AddaDiLeonardo.iOS/Resources/FontAwesome5Solid.otf
  AddaDiLeonardo/AddaDiLeonardo/AddaDiLeonardo.csproj
  AddaDiLeonardo/AddaDiLeonardo/App.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/CustomControls/Accordion.xaml
  AddaDiLeonardo/AddaDiLeonardo/MainPage.xaml
  AddaDiLeonardo/AddaDiLeonardo/MainPage.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_01.xaml
Labels: sync

#18 Database
  AddaDiLeonardo/AddaDiLeonardo.Android/AddaDiLeonardo.Android.csproj
  AddaDiLeonardo/AddaDiLeonardo.Android/Assets/Francese.db
  AddaDiLeonardo/AddaDiLeonardo.Android/Assets/Inglese.db
  AddaDiLeonardo/AddaDiLeonardo.Android/Assets/Italiano.db
  AddaDiLeonardo/AddaDiLeonardo.Android/MainActivity.cs
  AddaDiLeonardo/AddaDiLeonardo.iOS/AddaDiLeonardo.iOS.csproj
  AddaDiLeonardo/AddaDiLeonardo.iOS/Resources/Francese.db
  AddaDiLeonardo/AddaDiLeonardo.iOS/Resources/Inglese.db
  AddaDiLeonardo/AddaDiLeonardo.iOS/Resources/Italiano.db
  AddaDiLeonardo/AddaDiLeonardo/AddaDiLeonardo.csproj
  AddaDiLeonardo/AddaDiLeonardo/App.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Database/AsyncTaskExtensions.cs
  AddaDiLeonardo/AddaDiLeonardo/Database/Constants.cs
  AddaDiLeonardo/AddaDiLeonardo/Database/Data/Contenuti.cs
  AddaDiLeonardo/AddaDiLeonardo/Database/Data/Sezioni.cs
  AddaDiLeonardo/AddaDiLeonardo/Database/Data/Tappe.cs
  AddaDiLeonardo/AddaDiLeonardo/Database/Database.cs
Labels: Database, bug, enhancement
