Repository addadileonardo/AddaDiLeonardo, pull requests merged in 2020-05, with the labels that each got.

#87 Sync
  AddaDiLeonardo/AddaDiLeonardo.Android/Assets/Francese.db
  AddaDiLeonardo/AddaDiLeonardo.Android/Assets/Inglese.db
  AddaDiLeonardo/AddaDiLeonardo.Android/Assets/Italiano.db
  AddaDiLeonardo/AddaDiLeonardo.iOS/Resources/Francese.db
  AddaDiLeonardo/AddaDiLeonardo.iOS/Resources/Inglese.db
  AddaDiLeonardo/AddaDiLeonardo.iOS/Resources/Italiano.db
  AddaDiLeonardo/AddaDiLeonardo/AddaDiLeonardo.csproj
  AddaDiLeonardo/AddaDiLeonardo/CustomControls/Accordion.xaml
  AddaDiLeonardo/AddaDiLeonardo/CustomControls/Accordion.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/videoplayer_2.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Icons/close_5_v2.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_01/fiume_cover.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_02/traghetto2_cover.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_02/traghetto_cover.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_04/ponte2_cover.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_04/ponte3_cover.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_04/ponte_cover_v2.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_05/centrali_cover_v2.png
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/PlayerPage.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/PlayerPage.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_01.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_01.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_02.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_02.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_03.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_04.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_04.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_05.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_05.xaml.cs
Labels: sync

#93 Cached Images
  AddaDiLeonardo/AddaDiLeonardo.Android/AddaDiLeonardo.Android.csproj
  AddaDiLeonardo/AddaDiLeonardo.Android/MainActivity.cs
  AddaDiLeonardo/AddaDiLeonardo.iOS/AddaDiLeonardo.iOS.csproj
  AddaDiLeonardo/AddaDiLeonardo.iOS/AppDelegate.cs
  AddaDiLeonardo/AddaDiLeonardo/AddaDiLeonardo.csproj
  AddaDiLeonardo/AddaDiLeonardo/App.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_01.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_02.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_03.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_04.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_05.xaml
Labels: Cross-Platform, Homepage

#98 Sync
  AddaDiLeonardo/AddaDiLeonardo.Android/AddaDiLeonardo.Android.csproj
  AddaDiLeonardo/AddaDiLeonardo.Android/MainActivity.cs
  AddaDiLeonardo/AddaDiLeonardo.iOS/AddaDiLeonardo.iOS.csproj
  AddaDiLeonardo/AddaDiLeonardo.iOS/AppDelegate.cs
  AddaDiLeonardo/AddaDiLeonardo/AddaDiLeonardo.csproj
  AddaDiLeonardo/AddaDiLeonardo/App.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_01/fiume_cover.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_02/traghetto2_cover.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_02/traghetto_cover.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_03/Rocchetta_01.JPG
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_03/Rocchetta_02.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_03/Rocchetta_03.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_03/Rocchetta_04.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_03/Rocchetta_05.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_03/Rocchetta_06.JPG
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_03/Rocchetta_07.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_03/Rocchetta_08.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_03/Rocchetta_09.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_03/Rocchetta_11.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_03/Rocchetta_12.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_03/Rocchetta_13.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_03/Rocchetta_14.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_03/Rocchetta_15.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_03/Rocchetta_16.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_03/Rocchetta_17.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_03/Rocchetta_18.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_03/Rocchetta_19.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_03/Rocchetta_20.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_03/Rocchetta_21.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_03/Rocchetta_22.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_04/ponte2_cover.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_04/ponte3_cover.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_04/ponte_cover_v2.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_05/centrali_cover_v2.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/cover/centrali_cover.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/cover/fiume_cover.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/cover/loading.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/cover/ponte2_cover.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/cover/ponte3_cover.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/cover/ponte_cover.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/cover/rocchetta2_cover.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/cover/rocchetta_cover.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/cover/traghetto2_cover.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/cover/traghetto_cover.jpg
  AddaDiLeonardo/AddaDiLeonardo/MainPage.xaml
  AddaDiLeonardo/AddaDiLeonardo/MainPage.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/PlayerPage.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/PlayerPage.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_01.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_01.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_02.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_02.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_03.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_03.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_04.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_04.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_05.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_05.xaml.cs
Labels: sync

#102 Mappa e Nuove immagini tappe
  AddaDiLeonardo/AddaDiLeonardo/AddaDiLeonardo.csproj
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/EN-Map-1.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/EN-Map-2.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/EN-Map-3.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/EN-Map-4.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/EN-Map-5.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/FR-Map-1.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/FR-Map-2.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/FR-Map-3.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/FR-Map-4.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/FR-Map-5.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/IT-Map-1.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/IT-Map-2.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/IT-Map-3.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/IT-Map-4.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/IT-Map-5.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/IT-1-Fiume.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/IT-2-Ponte.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/IT-3-Rocchetta.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/IT-4-Traghetto.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/IT-5-Centrali.jpg
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml.cs
Labels: Homepage, enhancement

#103 Aggiunte tutte le immagini restanti, cambio immagine
  AddaDiLeonardo/AddaDiLeonardo/AddaDiLeonardo.csproj
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/EN-1-Fiume.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/EN-2-Ponte.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/EN-3-Rocchetta.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/EN-4-Traghetto.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/EN-5-Centrali.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/FR-1-Fiume.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/FR-2-Ponte.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/FR-3-Rocchetta.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/FR-4-Traghetto.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/FR-5-Centrali.jpg
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml.cs
Labels: Homepage

#104 Mappa, Refactoring
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml.cs
Labels: Homepage, Mappa

#106 Formattazione italico
  AddaDiLeonardo/AddaDiLeonardo/CustomControls/FormattaContenuto.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml.cs
Labels: Cross-Platform, Homepage, enhancement, invalid

#108 Sync
  AddaDiLeonardo/AddaDiLeonardo/CustomControls/FormattaContenuto.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml.cs
Labels: sync

#110 Correzione link e Nuove immagini
  AddaDiLeonardo/AddaDiLeonardo/AddaDiLeonardo.csproj
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/EN-Map-1.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/EN-Map-2.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/EN-Map-3.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/EN-Map-4.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/EN-Map-5.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/FR-Map-1.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/FR-Map-2.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/FR-Map-3.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/FR-Map-4.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/FR-Map-5.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/IT-Map-1.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/IT-Map-2.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/IT-Map-3.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/IT-Map-4.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/IT-Map-5.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/EN-1-Fiume.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/EN-2-Ponte.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/EN-3-Rocchetta.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/EN-4-Traghetto.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/EN-5-Centrali.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/FR-1-Fiume.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/FR-2-Ponte.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/FR-3-Rocchetta.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/FR-4-Traghetto.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/FR-5-Centrali.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/IT-1-Fiume.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/IT-2-Ponte.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/IT-3-Rocchetta.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/IT-4-Traghetto.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/IT-5-Centrali.jpg
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml.cs
Labels: Homepage

#118 Sync
  AddaDiLeonardo/AddaDiLeonardo.Android/MainActivity.cs
  AddaDiLeonardo/AddaDiLeonardo/AddaDiLeonardo.csproj
  AddaDiLeonardo/AddaDiLeonardo/App.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Images/Icons/map_icon.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Icons/map_icon_2.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_03/Rocchetta_16.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_03/Rocchetta_17.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_03/Rocchetta_21.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Tappe/Tappa_04/ponte_02.jpg
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/PlayerPage.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_03.xaml.cs
Labels: sync

#120 Immagini compresse
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/EN-1-Fiume.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/EN-2-Ponte.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/EN-3-Rocchetta.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/EN-4-Traghetto.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/EN-5-Centrali.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/FR-1-Fiume.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/FR-2-Ponte.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/FR-3-Rocchetta.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/FR-4-Traghetto.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/FR-5-Centrali.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/IT-1-Fiume.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/IT-2-Ponte.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/IT-3-Rocchetta.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/IT-4-Traghetto.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Tappe/IT-5-Centrali.png
Labels: Homepage

#121 Layout homepage
  AddaDiLeonardo/AddaDiLeonardo/AddaDiLeonardo.csproj
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/bg.jpg
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/logo_schifoso.png
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml.cs
Labels: Homepage

#125 Sync
  AddaDiLeonardo/AddaDiLeonardo/AddaDiLeonardo.csproj
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_01.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_01.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_02.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_02.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_03.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_03.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_04.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_04.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_05.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_05.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/favicon.ico
Labels: sync

#127 Immagini mappa ridimensionate
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/EN-Map-1.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/EN-Map-2.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/EN-Map-3.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/EN-Map-4.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/EN-Map-5.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/FR-Map-1.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/FR-Map-2.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/FR-Map-3.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/FR-Map-4.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/FR-Map-5.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/IT-Map-1.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/IT-Map-2.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/IT-Map-3.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/IT-Map-4.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/Mappa/IT-Map-5.png
Labels: Homepage, area-Photoshop

#134 Nuovo logo
  AddaDiLeonardo/AddaDiLeonardo/AddaDiLeonardo.csproj
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/logo.png
  AddaDiLeonardo/AddaDiLeonardo/Images/Home/logo_schifoso.png
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml
Labels: Homepage

#139 Sync
  AddaDiLeonardo/AddaDiLeonardo.Android/AddaDiLeonardo.Android.csproj
  AddaDiLeonardo/AddaDiLeonardo.iOS/AddaDiLeonardo.iOS.csproj
  AddaDiLeonardo/AddaDiLeonardo/AddaDiLeonardo.csproj
  AddaDiLeonardo/AddaDiLeonardo/Database/Link.cs
  AddaDiLeonardo/AddaDiLeonardo/MainPage.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/PlayerPage.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_01.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_02.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_03.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_04.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/Tappe/Tappa_05.xaml.cs
Labels: sync

#142 DB Home
  AddaDiLeonardo/AddaDiLeonardo.Android/Assets/Francese.db
  AddaDiLeonardo/AddaDiLeonardo.Android/Assets/Inglese.db
  AddaDiLeonardo/AddaDiLeonardo.Android/Assets/Italiano.db
  AddaDiLeonardo/AddaDiLeonardo.iOS/Resources/Francese.db
  AddaDiLeonardo/AddaDiLeonardo.iOS/Resources/Inglese.db
  AddaDiLeonardo/AddaDiLeonardo.iOS/Resources/Italiano.db
Labels: Cross-Platform, Database, Homepage

#143 Sync
  AddaDiLeonardo/AddaDiLeonardo.Android/Assets/Francese.db
  AddaDiLeonardo/AddaDiLeonardo.Android/Assets/Inglese.db
  AddaDiLeonardo/AddaDiLeonardo.Android/Assets/Italiano.db
  AddaDiLeonardo/AddaDiLeonardo.iOS/Resources/Francese.db
  AddaDiLeonardo/AddaDiLeonardo.iOS/Resources/Inglese.db
  AddaDiLeonardo/AddaDiLeonardo.iOS/Resources/Italiano.db
  AddaDiLeonardo/AddaDiLeonardo/CustomControls/Accordion.xaml
  AddaDiLeonardo/AddaDiLeonardo/CustomControls/Accordion.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml.cs
Labels: sync

#145 Correzione scroll to e testo introduttivo
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml.cs
Labels: Homepage

#147 Blank Load page
  AddaDiLeonardo/AddaDiLeonardo/AddaDiLeonardo.csproj
  AddaDiLeonardo/AddaDiLeonardo/App.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/Blank.xaml
  AddaDiLeonardo/AddaDiLeonardo/Views/Blank.xaml.cs
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml.cs
Labels: Homepage, bug, invalid

#149 BugFix db
  AddaDiLeonardo/AddaDiLeonardo/Views/HomePage.xaml.cs
Labels: Homepage, bug
